@charset "UTF-8";

body {
  background-color: #fff;
  color: #333;
  word-break: normal;
  word-wrap: break-word;
}

body a {
  text-decoration: none;
}

header#banner {
    background-color: #34495e;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

header#banner h1 {
    margin: 0;
    padding-top: 50px;
}

header#banner h1 a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

#menu li {
  display: inline;
}

#menu li a {
  padding: 0 10px;
  color: #fff;
  text-shadow: -1px 1px 0 rgba(111, 111, 111, 1);
  text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}

#content {
  padding: 10px;
  margin: auto;
  max-width: 930px;
}

span.correct:after {
  content: "["attr(data-datetime) " (JST) 訂正]";
  font-size: 12px;
  color: #999;
}

section#extra {
  background-color: #ecf0f1;
  border-top: 1px solid #ccc;
}

section#extra li {
    list-style: none;
}

section#extra section {
  padding: 10px;
  margin: auto;
  max-width: 930px;
}

footer#contentinfo {
  font-size: 10px;
  padding: 10px;
  border-top: 1px solid #000000;
  background-color: #34495e;
  color: #fff;
}

footer#contentinfo a {
  color: #fff;
}

del {
  color: #999;
}

#post-list li,
.post-info li {
    list-style: none;
}

footer.post-info {
    text-align: right;
    margin-bottom: 10px;
}

h2.entry-title {
    margin-bottom: 0;
}

h2.entry-title a {
    margin-bottom: 0;
    color: #000;
}

.entry-content {
    margin: 0 2em;
}

div.note {
    padding: 10px;
    margin: 10px 0;
    border-style: solid;
    border-width: 2px;

    border-color: #ff3300;
    background-color: #ffeecc;
}

div.note p.admonition-title {
    display: none;
}

tt.literal {
  border: 1px solid #ccc;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background-color: #EDEDEF;
  padding: 0 5px;
}

.footnote-reference {
  font-size: 9px;
}

.footnote-reference:target, table.footnote:target {
  background-color: #ff9;
}

.footnote-reference:target {
  font-weight: bold;
}

table.footnote {
  table-layout: auto;
  border-style: dashed;
  border-color: black;
  border-width: 1px 0 0 0;
  font-size: 12px;
  width: 100%;
}

table.footnote td.label {
  width: 30px;
}

table.footnote th, table.footnote tr, table.footnote td {
  border: none;
}

pre {
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

blockquote, pre {
  border: 1px solid #ccc;
  background-color: #EDEDEF;
  padding: 0.5em;
}

th, td {
  vertical-align: middle;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    text-shadow: -1px 1px 0 rgba(230, 230, 230, 1);
}

#content h1, h2.entry-title {
    font-weight: normal;
}

@media only screen and (max-device-width: 760px) {
    body {
        font-size: 14px;
    }

    #content {
        margin: 0;
    }

    .entry-content {
        margin: 0;
    }
}

.highlight {
    max-height: 480px;
    overflow-y: scroll;
}

em {
    color: #0490A9;
}

#content img {
    max-width: 100%;
    max-height: 640px;
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
