@charset "UTF-8";

body {
  background-color: #fff;
  color: #333;
  word-break: normal;
  word-wrap: break-word;
}

body a {
  text-decoration: none;
}

header#banner {
    background-color: #34495e;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

header#banner h1 {
    margin: 0;
    padding-top: 50px;
}

header#banner h1 a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

#menu li {
  display: inline;
}

#menu li a {
  padding: 0 10px;
  color: #fff;
  text-shadow: -1px 1px 0 rgba(111, 111, 111, 1);
  text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}

#content {
  padding: 10px;
  margin: auto;
  max-width: 930px;
}

span.correct:after {
  content: "["attr(data-datetime) " (JST) 訂正]";
  font-size: 12px;
  color: #999;
}

section#extra {
  background-color: #ecf0f1;
  border-top: 1px solid #ccc;
}

section#extra li {
    list-style: none;
}

section#extra section {
  padding: 10px;
  margin: auto;
  max-width: 930px;
}

footer#contentinfo {
  font-size: 10px;
  padding: 10px;
  border-top: 1px solid #000000;
  background-color: #34495e;
  color: #fff;
}

footer#contentinfo a {
  color: #fff;
}

del {
  color: #999;
}

#post-list li,
.post-info li {
    list-style: none;
}

footer.post-info {
    text-align: right;
    margin-bottom: 10px;
}

h2.entry-title {
    margin-bottom: 0;
}

h2.entry-title a {
    margin-bottom: 0;
    color: #000;
}

.entry-content {
    margin: 0 2em;
}

div.note {
    padding: 10px;
    margin: 10px 0;
    border-style: solid;
    border-width: 2px;

    border-color: #ff3300;
    background-color: #ffeecc;
}

div.note p.admonition-title {
    display: none;
}

tt.literal {
  border: 1px solid #ccc;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background-color: #EDEDEF;
  padding: 0 5px;
}

.footnote-reference {
  font-size: 9px;
}

.footnote-reference:target, table.footnote:target {
  background-color: #ff9;
}

.footnote-reference:target {
  font-weight: bold;
}

table.footnote {
  table-layout: auto;
  border-style: dashed;
  border-color: black;
  border-width: 1px 0 0 0;
  font-size: 12px;
  width: 100%;
}

table.footnote td.label {
  width: 30px;
}

table.footnote th, table.footnote tr, table.footnote td {
  border: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

blockquote, pre {
  border: 1px solid #ccc;
  background-color: #EDEDEF;
  padding: 0.5em;
}

th, td {
  vertical-align: middle;
}

#content h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-shadow: -1px 1px 0 rgba(230, 230, 230, 1);
}
