{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>About</h2>
{% endblock %}

{% block head %}
{{ super() }}
   <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

<img alt="A photo of Kousuke Ebihara" src="/images/co3k.jpg" />

<p>Hi, my name is Kousuke Ebihara (海老原昂輔 / a.k.a. co3k). I'm a software developer living in Tokyo, Japan. I was born on April 23, 1988.</p>
<p>I currently work full-time at <a class="reference external" href="http://voyagegroup.com/">VOYAGE GROUP, Inc.</a> Of course I take full responsibility for the wording and content of this site.</p>
<div>

<div class="section" id="projects-use-my-contributed-code">
<h2>Projects use my contributed code</h2>
<ul class="simple">
<li><a class="reference external" href="http://www.openpne.jp/">OpenPNE [ja]</a></li>
<li><a class="reference external" href="http://pear.php.net/package/VersionControl_Git">PEAR::VersionControl_Git</a></li>
<li><a class="reference external" href="http://www.symfony-project.org/">symfony</a></li>
<li><a class="reference external" href="http://symfony.com/">Symfony2</a></li>
<li><a class="reference external" href="http://www.doctrine-project.org/">Doctrine</a></li>
<li><a class="reference external" href="https://github.com/interagent/prmd">prmd</a></li>
<li><a class="reference external" href="https://github.com/grpc-ecosystem/grpc-gateway">grpc-gateway</a></li>
</ul>
<div class="section" id="published-books">
<h2>Published books</h2>
<a class="reference external image-reference" href="http://www.amazon.co.jp/exec/obidos/ASIN/4798029343/"><img alt="symfony-1-4によるWebアプリケーション開発―オープンソース徹底活用" src="http://ecx.images-amazon.com/images/I/51TqK-ZdqCL._SX160__PC_.jpg" /></a>
</div>
<div class="section" id="contact-information">
<h2>Contact information</h2>
<dl class="docutils">
<dt>E-mail</dt>
<dd><a class="reference external" href="mailto:kousuke&#64;co3k.org">kousuke&#64;co3k.org</a></dd>
<dt>Twitter</dt>
<dd><a class="reference external" href="http://twitter.com/co3k/">&#64;co3k</a></dd>
<dt>GitHub</dt>
<dd><a class="reference external" href="http://github.com/co3k/">co3k</a></dd>
<dt>Amazon Wish List</dt>
<dd><a class="reference external" href="http://www.amazon.co.jp/registry/wishlist/1GIM0XIVVGUE4">http://www.amazon.co.jp/registry/wishlist/1GIM0XIVVGUE4</a></dd>
<dt>うたスキ (Japanese karaoke portal site)</dt>
<dd><a class="reference external" href="http://joysound.com/ex/utasuki/userpage/_usr_76efb68a0fdd50ad5ec8e26d811cb7280ac6_index.htm">http://joysound.com/ex/utasuki/userpage/_usr_76efb68a0fdd50ad5ec8e26d811cb7280ac6_index.htm</a></dd>
</dl>
</div>
<div class="section" id="a-collection-of-did-you-mean-kousuke-ebihara">
<h2>「もしかして: 海老原昂輔」シリーズ (A collection of &quot;Did you mean: Kousuke Ebihara&quot;)</h2>
<ul class="simple">
<li>海老原<strong>昴</strong>輔</li>
<li>海老原<strong>昻</strong>輔</li>
<li>海老原<strong>昆</strong>輔</li>
<li><strong>蛯</strong>原昂輔</li>
<li>海老<strong>沢</strong>昂輔</li>
<li><a href="https://www.google.com/search?q=%22kusuke%20ebihara%22"><strong>Kusuke</strong> Ebihara</a></li>
</ul>
</div>

<script type="text/javascript">
function display_coderwall(json)
{
    $container = $("#coderwall-badges");
    var badges = json["data"]["badges"];
    for (var i = 0; i < badges.length; i++) {
        $img = $("<img src='' width='50px' height='50px' />");
        $img.attr("src", badges[i]["badge"]);
        $container.prepend($img);
    }
}
</script>
<script src="https://coderwall.com/ebihara.json?callback=display_coderwall"></script>
</section><!-- /#content -->
{% endblock content %}
